<section class="search-books">
    <div fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field>
            <input aria-label="Search book" type="text" [formControl]="searchFieldInput" matInput placeholder="Search in Library" #inputQuery>
            <mat-icon aria-hidden="false" aria-label="search book icon" matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    
    <div fxLayout="row wrap"  fxLayout.lt-md="column" fxLayoutGap="0px" fxLayoutAlign="space-between">
            <div (click)="gotoBookDetail(book.id)" class="mb-4 search-books-cards" *ngFor="let book of shared.booksData; let i = index; trackBy: trackByBook" fxFlex="0 1 calc(48%)" fxFlex.lt-md="100%">
                <app-book [book]="book"></app-book>
            </div>
    </div>
    <div class="spinner-overlay" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
        <mat-spinner diameter="40"></mat-spinner>
    </div>
</section>
